<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myapp.mobile" version="2.25" xmlns="http://www.w3.org/ns/widgets">
  <name>Flappy Bird (Test)</name>
  <description>Ejemplo de uso de PhoneGap con un remake de Flappy Bird</description>
  <author email="nachoiborra@iessanvicente.com">Nacho Iborra</author>
  <icon src="fbird.png" />
</widget>
